* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(86, 96, 137);
}
.wrapper {
  text-align: center;
  margin-top: 25px;
}
.wrapper p {
  font-size: 2em;
  color: white;
}
